<div class="base_div">
    <!--section 1-->
    <section class="section_1">
        <div class="container">
            <h1>Sign Up page</h1>
            <form [formGroup]="Formgrp">
                <mat-form-field appearance="fill" style="background-color: grey;">
                    <mat-label>user Email</mat-label>
                    <input matInput type = "email" formControlName="userEmail"  required email>
                </mat-form-field>
                <button (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </section>
    <section >

    </section>
</div>

